<div class="container">

    <h1 class="heading">
        🛒 My Shopping Cart
    </h1>

    <div
        *ngIf="cartItems.length === 0"
        class="empty-cart">

        Your Cart is Empty 😔

    </div>

    <div
        class="cart-card"
        *ngFor="let item of cartItems">

        <img
            [src]="item.image"
            [alt]="item.title">

        <div class="product-info">

            <h3>{{ item.title }}</h3>

            <p class="price">
                {{ item.price | currency:'INR' }}
            </p>

            <p class="category">
                {{ item.category }}
            </p>

            <p>
                {{ item.description }}
            </p>

        </div>

    </div>

</div>